/*
.vp-toggle-sidebar-button
  display block
*/

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"]
  margin 0
  padding 1rem

.code-copy svg
  width 1.4rem !important
  height 1.4rem !important
  top 0.4rem !important

.code-copy path:last-child
  fill none
  stroke #2e7a58

div[class*="language-"]::before
  display none

.page .theme-default-content
  padding-top 2rem

.vp-navbar, .vp-sidebar
  background var(--navbarBgColor)
  // backdrop-filter blur(3px)
  border none

.vp-sidebar
  padding 0
  margin-top 3.6rem

.blog-date-reading
  margin 0

.page
  padding-top 0
  padding-bottom 0

/*
.vp-navbar
  padding .7rem 1.5rem .7rem 4rem
*/

.vp-navbar .site-name
  color var(--textColor)

.vp-navbar .route-link
  padding 0.5rem
  margin-left -0.5rem

.vp-navbar .vp-toggle-color-mode-button
  padding 0.5rem

.vp-navbar .external-link
  padding 0.3rem

.line-numbers-mode
  pre
    margin 0 !important
    padding 0 !important
  &:after, .line-numbers
    display none


.vp-theme-container .search-box input
  background-color transparent !important
  background-image url(/icons/search.svg)
  background-size 1rem
  border none

.blog-link
  color inherit
  transition 200ms !important
  &.active
    color var(--vp-c-accent) !important
  &:hover
    text-decoration underline !important
    color var(--vp-c-accent) !important

#content a
  text-decoration none

/**
 * transition fade-slide-y
 *
.fade-slide-y-enter-active,
.fade-slide-y-leave-active
  transition-duration 500ms

.fade-in-down-enter-active,
.fade-in-down-leave-to,
.fade-in-down-leave-from,
.fade-in-down-leave-active
  transition-duration 50ms !important

.no-transition .page
  transition-duration 500ms
*/

// add dots to pause post
.dots
  margin 50px 0 80px
  font-family Georgia, "PT Serif"
  text-align center
  font-size 28px
  font-weight bold
  border none

.dots::before
  letter-spacing 2rem
  content "..."
  margin-right -40px

.image-text
  font-size 15px
  text-align center

.back-to-top {
  display block
}

.back-blog
  margin 0 auto
  margin-bottom 1rem
  // display flex
  // flex-direction column
  &.not-full
    max-width 740px
  img
    width 100%
    max-width 1600px
    margin 0 auto 5px

@media (max-width: 959px)
  .back-blog:not(.not-full)
    // padding-top var(--navbar-height)
  .publish-date
    display block
  .reading-time-separator
    display none
  